body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial;
}

.chat-container {
  width: 350px;
  height: 600px;
  background: #111827;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  padding: 15px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(to right, #a855f7, #3b82f6);
  color: white;
}

.chat-box {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  padding: 8px;
  border-radius: 10px;
  border: none;
}

.chat-input button {
  margin-left: 5px;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  background: #9333ea;
  color: white;
  cursor: pointer;
}

.message-container {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.message {
  padding: 8px 12px;
  border-radius: 12px;
  max-width: 70%;
}

.user {
  background: #9333ea;
  color: white;
  margin-left: auto;
}

.bot {
  background: #374151;
  color: white;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}
